body
{
	background-color:#fff;
	color:#48485e;
	font-family:"Open Sans",sans-serif;
	font-size:14px;
	line-height:1.42857;
	margin:0!important;
	padding-right:0!important;
}

*
{
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	box-sizing:border-box;
}

h1,h2,h3
{
	color:inherit;
	font-family:Roboto,Helvetica,Arial,sans-serif;
	font-weight:700;
	margin-bottom:10px;
	margin-top:20px;
}

h2
{
	font-size:42px;
	line-height:1.21429;
}
p
{
	font-size:16px;
	line-height:1.5625;
	margin:0 0 22px;
}

button
{
	overflow:visible;
}

button,select
{
	text-transform:none;
}

button,html input[type=button],input[type=reset],input[type=submit]
{
	-webkit-appearance:button;
	cursor:pointer;
}

button,input,select,textarea
{
	font-family:inherit;
	font-size:inherit;
	line-height:inherit;
}

.gray-background
{
	background-color:#efeff6;
}

.box-inside
{
	margin-left:auto;
	margin-right:auto;
}

.box-inside:after,.box-inside:before
{
	content:" ";
	display:table;
}

.box-padding
{
	padding-bottom:60px;
	padding-top:60px;
}

.padding-extra
{
	padding-left:30px!important;
	padding-right:30px!important;
}

.box-outside
{
	margin-left:auto;
	margin-right:auto;
	padding-left:10px;
	padding-right:10px;
	width:1200px;
}

.box-outside:after,.box-outside:before
{
	content:" ";
	display:table;
}

.box-inner
{
	margin-left:-10px;
	margin-right:-10px;
}

.box-inner:after
{
	clear:both;
}

.box-inner:after,.box-inner:before
{
	content:" ";
	display:table;
}

.nb-bar
{
	margin-bottom:0;
	margin-left:75px;
	margin-right:75px;
	min-height:60px;
	position:absolute;
	z-index:1;
}

.nb-bar:after,.nb-bar:before
{
	content:" ";
	display:table;
}

.box-outside>.nb-head
{
	margin-left:0;
	margin-right:0;
}

.box-inside>.nb-head, .box-outside>.nb-head
{
	margin-left:-10px;
	margin-right:-10px;
}

.nb-head
{
	float:left;
}

.nb-options>ul
{
	display:inline-flex;
	float:right;
	list-style-type:none;
	padding-top:20px;
}

.nb-options>ul>li
{
	color:#fff;
	display:block;
	font-size:16px;
	line-height:20px;
	padding:10px 15px;
	position:relative;
	text-transform:uppercase!important;
}

.v-align
{
	display:table;
}

a
{
	background-color:transparent;
	color:#00c09d;
	text-decoration:none;
}

.nb-logo-box
{
	float:left;
	font-size:18px;
	height:60px;
	line-height:20px;
	padding:20px 10px;
}

.dark-link a,a.link-white
{
	color:#fff;
}

.nb-bar>.box-outside .nb-logo-box,.nb-bar>.box-inside .nb-logo-box
{
	margin-left:-10px;
}

.nb-default .nb-logo-box
{
	color:#fff;
}

.box-inside>.nb-head,.box-outside>.nb-head
{
	margin-left:0;
	margin-right:0;
}

.nb
{
	list-style:none;
	margin-bottom:0;
	padding-left:0;
}



.dropdown,.dropup
{
	position:relative;
}

.nb>li
{
	display:block;
	position:relative;
}



.a-outer
{
	background-position:center right;
	background-size:cover;
	overflow:hidden;
	position:relative;
	width:100%;
}

.outer-banner
{
	background-color:#0099bf;
	background-origin:border-box!important;
	background-position:right!important;
	background-repeat:no-repeat!important;
	background-size:cover!important;
	min-height:650px;
	padding-bottom:60px;
	position:relative!important;
	width:100%;
}

.outer-banner .scroll-down
{
	bottom:10px;
	font-size:20px;
	left:0;
	position:absolute;
	text-align:center;
	width:100%;
	z-index:400;
}

.text-white
{
	color:#fff!important;
}

.outer-banner .scroll-down i
{
	color:#fff;
	cursor:pointer;
}

.a-outer .outer-banner-inside
{
	color:#fff;
	position:relative;
	z-index:10;
}

.fa
{
	-moz-osx-font-smoothing:grayscale;
	-webkit-font-smoothing:antialiased;
	display:inline-block;
	font:normal normal normal 14px/1 FontAwesome;
	font-size:inherit;
	text-rendering:auto;
}

.ver-align
{
	display:table-cell;
	vertical-align:middle;
}

.a-outer h2
{
	font-size:62px;
}

.a-outer .profession
{
	font-size:22px;
}

.a-outer .separator
{
	background-color:#efff1d;
	height:2px;
	margin-bottom:10px;
	margin-top:10px;
	width:50px;
}

.a-outer .my-metadata
{
	font-size:18px;
}

.a-outer .my-metadata div:not(.m-wrapper)
{
	padding:5px 0;
}



.my-history .pad-md-r-20
{
	padding-right:20px;
}


.light-text p
{
	color:#7a7a7a;
}



.my-history h2
{
	font-size:24px;
}


.my-history .my-image1,.my-history .my-image2,.my-history .quote-img
{
	margin-top:40px;
}

img
{
	border:0;
	vertical-align:middle;
}

.respimage
{
	display:block;
	height:auto;
	max-width:100%;
}

.quote-pink
{
	color:#ef2964;
}

.roboto
{
	font-family:Roboto,Helvetica,Arial,sans-serif;
}

.quotes-ctn
{
	padding-left:38px;
	position:relative;
}

.my-quotes .quotes-ctn
{
	font-size:30px;
}

.quotes-ctn>.quote
{
	display:inline-block;
	font-size:72px;
	font-weight:700;
	height:34px;
	line-height:1.1em;
	position:absolute;
}

.quotes-ctn .quote.op
{
	left:0;
}

.my-register
{
	padding-bottom:30px;
	padding-top:20px;
}

.bg-green
{
	background-color:#00c09d;
}

button,input,optgroup,select,textarea
{
	color:inherit;
	font:inherit;
	margin:0;
}



.my-register h3
{
	font-size:30px;
}

.my-bttn
{
	-moz-user-select:none;
	-ms-user-select:none;
	-webkit-user-select:none;
	background-image:none;
	border:none;
	border-radius:3px;
	cursor:pointer;
	display:inline-block;
	font-size:14px;
	font-weight:700;
	line-height:1.42857;
	margin-bottom:0;
	padding:6px 12px;
	position:relative;
	text-align:center;
	text-transform:uppercase;
	touch-action:manipulation;
	user-select:none;
	vertical-align:middle;
	white-space:nowrap;
}

.my-bttn-sec
{
	background-color:#efff1d;
	color:#48485e;
}

.my-bttn-collection
{
	border-radius:3px;
	font-size:18px;
	line-height:1.23333;
	padding:10px 16px;
}

.my-register .view-course button
{
	margin-top:30px;
	padding-left:45px;
	padding-right:45px;
}

.bg-gray-dark-2
{
	background-color:#48485e;
}

footer,section
{
	display:block;
}

footer.page-end[role=this-info]
{
	position:relative;
	z-index:10;
}

footer.page-end[role=this-info] .top
{
	padding:50px 0;
}

footer.page-end[role=this-info] .bottom
{
	background-color:#3b3b4e;
	font-size:12px;
	padding:20px 0;
}

footer.page-end[role=this-info] .copyright-ctn
{
	margin-top:8px;
}

.visible-xs
{
	display:none!important;
}

footer.page-end[role=this-info] .title-left-sec
{
	margin-top:0;
}

footer.page-end[role=this-info] .colap-ss
{
	max-width:390px;
	padding:10px 0 14px;
}

footer.page-end[role=this-info] a.my-bttn
{
	color:#00c09d;
}

footer.page-end[role=this-info] .my-bttn[data-toggle=collapse]
{
	cursor:text;
	font-size:18px;
	padding:6px 0;
	text-transform:capitalize;
}

.colap-ss
{
	padding:10px 15px;
}

.colap-ss .my-bttn
{
	background-color:#5b5b76;
	border:none;
	color:#fff;
	font-size:18px;
	padding:10px 15px;
	text-align:left;
	width:100%;
}

footer.page-end[role=this-info] .colap-ss .my-bttn
{
	cursor:pointer;
	font-size:14px;
	padding:10px 15px 8px;
}

.pull-right
{
	float:right!important;
}

.my-bttn .fa
{
	font-size:24px;
}

.fa.pull-right
{
	margin-left:.3em;
}

.bg-gray-dark-1
{
	background-color:#5b5b76;
}

.list-unstyled
{
	list-style:none;
	padding-left:0;
}

footer.page-end[role=this-info] .colap-ss ul
{
	display:none;
	padding-bottom:10px;
}

footer.page-end[role=this-info] .colap-ss ul li
{
	margin-bottom:10px;
	padding-left:15px;
}

footer.page-end[role=this-info] .colap-ss ul li a
{
	font-size:14px;
	font-weight:400;
	text-decoration:none;
}

.my-form-collection
{
	margin-bottom:10px;
	position:relative;
}

.my-form-list .my-form-collection
{
	display:inline-block;
	margin-bottom:0;
	vertical-align:middle;
}

footer.page-end[role=this-info] .my-form-collection
{
	width:51%;
}

.my-form-list .my-bttn
{
	display:inline-table;
	margin-left:-8px;
	vertical-align:top;
}

ol,ul
{
	margin-bottom:10px;
	margin-top:0;
}

footer.page-end[role=this-info] .collapse-ctn ul
{
	margin-top:15px;
}

footer.page-end[role=this-info] .collapse-ctn li
{
	margin-bottom:8px;
}

[hidden],template
{
	display:none;
}

#id_email,#id_login,#id_password,#id_password1,#id_password2,.my-form-ct
{
	background-color:#efeff6;
	background-image:none;
	border:1px solid transparent;
	border-radius:3px;
	color:#555;
	display:block;
	font-size:14px;
	height:44px;
	line-height:1.42857;
	padding:6px 12px;
	width:100%;
}

#id_email.input-bg-purple,#id_login.input-bg-purple,#id_password.input-bg-purple,#id_password1.input-bg-purple,#id_password2.input-bg-purple,.my-form-ct.input-bg-purple
{
	background-color:#3b3b4e;
	color:#fff;
}

.my-form-collection .padding-for-icon
{
	padding-right:40px!important;
}

.my-form-list .my-form-ct
{
	display:inline-block;
	height:42px;
	vertical-align:middle;
	width:auto;
}

footer.page-end[role=this-info] .my-form-collection input
{
	width:100%;
}

.my-single-row
{
	list-style:none;
	margin-left:-5px;
	padding-left:0;
}

footer.page-end[role=this-info] .other-links-2
{
	margin-top:12px;
}

footer.page-end[role=this-info] .other-links-1
{
	height:30px;
	margin-bottom:0;
}

.my-single-row>li
{
	display:inline-block;
	padding-left:5px;
	padding-right:5px;
}

footer.page-end[role=this-info] .other-links-2 li
{
	padding-left:3px;
	padding-right:2px;
}

footer.page-end[role=this-info] .other-links-1 li a
{
	background-image:url(images/social_sprite_bw.png);
	display:inline-block;
	height:30px;
	width:30px;
}

footer.page-end[role=this-info] .other-links-1 li a.facebook
{
	background-position:0 0;
}

footer.page-end[role=this-info] .other-links-2 li a.twitter
{
	background-position:-36px 0;
}

.split3
{
	width:25%;
}

.split7
{
	width:58.33333%;
}

.split5
{
	width:41.66667%;
}

.low-foot
{
	width:75%;
}

.splitoffset-1
{
	margin-left:8.33333%;
}

.split12
{
	float:left;
	min-height:1px;
	padding-left:10px;
	padding-right:10px;
	position:relative;
	width:100%;
}

.split8
{
	float:left;
	min-height:1px;
	padding-left:10px;
	padding-right:10px;
	position:relative;
	width:66.66667%;
}

.split4
{
	float:left;
	min-height:1px;
	padding-left:10px;
	padding-right:10px;
	position:relative;
	width:33.33333%;
}
.low-foot
{
	float:left;
}
.split10,.split11,.split12,.split2,.split3,.split4,.split5,.split6,.split7,.split8,.split9,.split-s5,.split-s6,.split-s7,.low-foot
{
	min-height:1px;
	padding-left:10px;
	padding-right:10px;
	position:relative;
}
.split1,.split10,.split11,.split12,.split2,.split3,.split4,.split5,.split6,.split7,.split8,.split9
{
	float:left;
}