body
{
	background-color:#fff;
	color:#48485e;
	font-family:"Open Sans",sans-serif;
	font-size:14px;
	line-height:1.42857;
	margin:0!important;
	padding-right:0!important;
}

*
{
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	box-sizing:border-box;
}

.bg-gray-light
{
	background-color:#efeff6;
}

.container-fluid
{
	margin-left:auto;
	margin-right:auto;
}

.container-fluid:after,.container-fluid:before
{
	content:" ";
	display:table;
}

.ctn-padding-v
{
	padding-bottom:60px;
	padding-top:60px;
}

.padding-30px-h
{
	padding-left:30px!important;
	padding-right:30px!important;
}

.container
{
	margin-left:auto;
	margin-right:auto;
	padding-left:10px;
	padding-right:10px;
	width:1200px;
}

.container:after,.container:before
{
	content:" ";
	display:table;
}

.row
{
	margin-left:-10px;
	margin-right:-10px;
}

.row:after
{
	clear:both;
}

.row:after,.row:before
{
	content:" ";
	display:table;
}

.navbar
{
	margin-bottom:0;
	margin-left:75px;
	margin-right:75px;
	min-height:60px;
	position:absolute;
	z-index:1;
}

.navbar:after,.navbar:before
{
	content:" ";
	display:table;
}

.container>.navbar-header
{
	margin-left:0;
	margin-right:0;
}

.container-fluid>.navbar-collapse,.container-fluid>.navbar-header,.container>.navbar-collapse,.container>.navbar-header
{
	margin-left:-10px;
	margin-right:-10px;
}

.navbar-header
{
	float:left;
}

.nav-options>ul
{
	display:inline-flex;
	float:right;
	list-style-type:none;
	padding-top:20px;
}

.nav-options>ul>li
{
	color:#fff;
	display:block;
	font-size:16px;
	line-height:20px;
	padding:10px 15px;
	position:relative;
	text-transform:uppercase!important;
}

.vertical-center-ctn
{
	display:table;
}

a
{
	background-color:transparent;
	color:#00c09d;
	text-decoration:none;
}

.navbar-brand
{
	float:left;
	font-size:18px;
	height:60px;
	line-height:20px;
	padding:20px 10px;
}

.link-on-dark-bg a,a.link-white
{
	color:#fff;
}

.navbar>.container .navbar-brand,.navbar>.container-fluid .navbar-brand
{
	margin-left:-10px;
}

.navbar-default .navbar-brand
{
	color:#fff;
}

.container-fluid>.navbar-header,.container>.navbar-header
{
	margin-left:0;
	margin-right:0;
}

.nav
{
	list-style:none;
	margin-bottom:0;
	padding-left:0;
}

.navbar-nav
{
	float:left;
	margin:0;
}

.navbar-right
{
	float:right!important;
	margin-right:-10px;
}

.dropdown,.dropup
{
	position:relative;
}

.nav>li
{
	display:block;
	position:relative;
}

.navbar-nav>li
{
	float:left;
}

nav.site-header li
{
	position:relative;
}

.alumni-hero
{
	background-position:center right;
	background-size:cover;
	overflow:hidden;
	position:relative;
	width:100%;
}

.page-hero-banner
{
	background-color:#0099bf;
	background-origin:border-box!important;
	background-position:right!important;
	background-repeat:no-repeat!important;
	background-size:cover!important;
	min-height:650px;
	padding-bottom:60px;
	position:relative!important;
	width:100%;
}

.page-hero-banner .scroll-down
{
	bottom:10px;
	font-size:20px;
	left:0;
	position:absolute;
	text-align:center;
	width:100%;
	z-index:400;
}

.text-white
{
	color:#fff!important;
}

.page-hero-banner .scroll-down i
{
	color:#fff;
	cursor:pointer;
}

.alumni-hero .hero-banner-inner
{
	color:#fff;
	position:relative;
	z-index:10;
}

.fa
{
	-moz-osx-font-smoothing:grayscale;
	-webkit-font-smoothing:antialiased;
	display:inline-block;
	font:normal normal normal 14px/1 FontAwesome;
	font-size:inherit;
	text-rendering:auto;
}

.vertical-center-this
{
	display:table-cell;
	vertical-align:middle;
}

.alumni-hero h2
{
	font-size:62px;
}

.alumni-hero .curr_job
{
	font-size:22px;
}

.alumni-hero .separator
{
	background-color:#efff1d;
	height:2px;
	margin-bottom:10px;
	margin-top:10px;
	width:50px;
}

.alumni-hero .alum-meta
{
	font-size:18px;
}

.alumni-hero .alum-meta div:not(.mob_wrap)
{
	padding:5px 0;
}

.col-md-12
{
	float:left;
	min-height:1px;
	padding-left:10px;
	padding-right:10px;
	position:relative;
	width:100%;
}

.col-md-8
{
	float:left;
	min-height:1px;
	padding-left:10px;
	padding-right:10px;
	position:relative;
	width:66.66667%;
}

.alumni-story .pad-md-r-20
{
	padding-right:20px;
}

p
{
	font-size:16px;
	line-height:1.5625;
	margin:0 0 22px;
}

.light-text p
{
	color:#7a7a7a;
}

h1,h2,h3
{
	color:inherit;
	font-family:Roboto,Helvetica,Arial,sans-serif;
	font-weight:700;
	margin-bottom:10px;
	margin-top:20px;
}

h2
{
	font-size:42px;
	line-height:1.21429;
}

.alumni-story h2
{
	font-size:24px;
}

.col-md-4
{
	float:left;
	min-height:1px;
	padding-left:10px;
	padding-right:10px;
	position:relative;
	width:33.33333%;
}

.alumni-story .alumni-img-b,.alumni-story .alumni-img-c,.alumni-story .quote-img
{
	margin-top:40px;
}

img
{
	border:0;
	vertical-align:middle;
}

.img-responsive
{
	display:block;
	height:auto;
	max-width:100%;
}

.quote-pink
{
	color:#ef2964;
}

.roboto
{
	font-family:Roboto,Helvetica,Arial,sans-serif;
}

.quotes-ctn
{
	padding-left:38px;
	position:relative;
}

.alumni-quote .quotes-ctn,.alumni-quote-2 .quotes-ctn
{
	font-size:30px;
}

.quotes-ctn>.quote
{
	display:inline-block;
	font-size:72px;
	font-weight:700;
	height:34px;
	line-height:1.1em;
	position:absolute;
}

.quotes-ctn .quote.op
{
	left:0;
}

.alumni-signup
{
	padding-bottom:30px;
	padding-top:20px;
}

.bg-green
{
	background-color:#00c09d;
}

button,input,optgroup,select,textarea
{
	color:inherit;
	font:inherit;
	margin:0;
}

button
{
	overflow:visible;
}

button,select
{
	text-transform:none;
}

button,html input[type=button],input[type=reset],input[type=submit]
{
	-webkit-appearance:button;
	cursor:pointer;
}

button,input,select,textarea
{
	font-family:inherit;
	font-size:inherit;
	line-height:inherit;
}

.alumni-signup h3
{
	font-size:30px;
}

.btn
{
	-moz-user-select:none;
	-ms-user-select:none;
	-webkit-user-select:none;
	background-image:none;
	border:none;
	border-radius:3px;
	cursor:pointer;
	display:inline-block;
	font-size:14px;
	font-weight:700;
	line-height:1.42857;
	margin-bottom:0;
	padding:6px 12px;
	position:relative;
	text-align:center;
	text-transform:uppercase;
	touch-action:manipulation;
	user-select:none;
	vertical-align:middle;
	white-space:nowrap;
}

.btn-secondary
{
	background-color:#efff1d;
	color:#48485e;
}

.btn-group-lg>.btn,.btn-lg
{
	border-radius:3px;
	font-size:18px;
	line-height:1.23333;
	padding:10px 16px;
}

.alumni-signup .view-course button
{
	margin-top:30px;
	padding-left:45px;
	padding-right:45px;
}

.bg-gray-dark-2
{
	background-color:#48485e;
}

footer,section
{
	display:block;
}

footer.site-footer[role=contentinfo]
{
	position:relative;
	z-index:10;
}

footer.site-footer[role=contentinfo] .top
{
	padding:50px 0;
}

footer.site-footer[role=contentinfo] .bottom
{
	background-color:#3b3b4e;
	font-size:12px;
	padding:20px 0;
}

footer.site-footer[role=contentinfo] .copyright-ctn
{
	margin-top:8px;
}

.visible-xs
{
	display:none!important;
}

footer.site-footer[role=contentinfo] .title-left-sec
{
	margin-top:0;
}

footer.site-footer[role=contentinfo] .small-screen-collapse-nav
{
	max-width:390px;
	padding:10px 0 14px;
}

footer.site-footer[role=contentinfo] a.btn
{
	color:#00c09d;
}

footer.site-footer[role=contentinfo] .btn[data-toggle=collapse]
{
	cursor:text;
	font-size:18px;
	padding:6px 0;
	text-transform:capitalize;
}

.small-screen-collapse-nav
{
	padding:10px 15px;
}

.small-screen-collapse-nav .btn
{
	background-color:#5b5b76;
	border:none;
	color:#fff;
	font-size:18px;
	padding:10px 15px;
	text-align:left;
	width:100%;
}

footer.site-footer[role=contentinfo] .small-screen-collapse-nav .btn
{
	cursor:pointer;
	font-size:14px;
	padding:10px 15px 8px;
}

.pull-right
{
	float:right!important;
}

.btn .fa
{
	font-size:24px;
}

.fa.pull-right
{
	margin-left:.3em;
}

.bg-gray-dark-1
{
	background-color:#5b5b76;
}

.list-unstyled
{
	list-style:none;
	padding-left:0;
}

footer.site-footer[role=contentinfo] .small-screen-collapse-nav ul
{
	display:none;
	padding-bottom:10px;
}

footer.site-footer[role=contentinfo] .small-screen-collapse-nav ul li
{
	margin-bottom:10px;
	padding-left:15px;
}

footer.site-footer[role=contentinfo] .small-screen-collapse-nav ul li a
{
	font-size:14px;
	font-weight:400;
	text-decoration:none;
}

.form-group
{
	margin-bottom:10px;
	position:relative;
}

.form-inline .form-group
{
	display:inline-block;
	margin-bottom:0;
	vertical-align:middle;
}

footer.site-footer[role=contentinfo] .form-group
{
	width:51%;
}

.form-inline .btn
{
	display:inline-table;
	margin-left:-8px;
	vertical-align:top;
}

ol,ul
{
	margin-bottom:10px;
	margin-top:0;
}

footer.site-footer[role=contentinfo] .collapse-ctn ul
{
	margin-top:15px;
}

footer.site-footer[role=contentinfo] .collapse-ctn li
{
	margin-bottom:8px;
}

[hidden],template
{
	display:none;
}

#id_email,#id_login,#id_password,#id_password1,#id_password2,.form-control
{
	background-color:#efeff6;
	background-image:none;
	border:1px solid transparent;
	border-radius:3px;
	color:#555;
	display:block;
	font-size:14px;
	height:44px;
	line-height:1.42857;
	padding:6px 12px;
	width:100%;
}

#id_email.input-bg-purple,#id_login.input-bg-purple,#id_password.input-bg-purple,#id_password1.input-bg-purple,#id_password2.input-bg-purple,.form-control.input-bg-purple
{
	background-color:#3b3b4e;
	color:#fff;
}

.form-group .padding-for-icon
{
	padding-right:40px!important;
}

.form-inline .form-control
{
	display:inline-block;
	height:42px;
	vertical-align:middle;
	width:auto;
}

footer.site-footer[role=contentinfo] .form-group input
{
	width:100%;
}

.list-inline
{
	list-style:none;
	margin-left:-5px;
	padding-left:0;
}

footer.site-footer[role=contentinfo] .bw-social-links
{
	margin-top:12px;
}

footer.site-footer[role=contentinfo] .social-links
{
	height:30px;
	margin-bottom:0;
}

.list-inline>li
{
	display:inline-block;
	padding-left:5px;
	padding-right:5px;
}

footer.site-footer[role=contentinfo] .bw-social-links li
{
	padding-left:3px;
	padding-right:2px;
}

footer.site-footer[role=contentinfo] .social-links li a
{
	background-image:url(images/social_sprite_bw.png);
	display:inline-block;
	height:30px;
	width:30px;
}

footer.site-footer[role=contentinfo] .social-links li a.facebook
{
	background-position:0 0;
}

footer.site-footer[role=contentinfo] .bw-social-links li a.twitter
{
	background-position:-36px 0;
}

.col-md-3
{
	width:25%;
}

.col-md-7
{
	width:58.33333%;
}

.col-md-1,.col-md-10,.col-md-11,.col-md-12,.col-md-2,.col-md-3,.col-md-4,.col-md-5,.col-md-6,.col-md-7,.col-md-8,.col-md-9
{
	float:left;
}

.col-lg-1,.col-lg-10,.col-lg-11,.col-lg-12,.col-lg-2,.col-lg-3,.col-lg-4,.col-lg-5,.col-lg-6,.col-lg-7,.col-lg-8,.col-lg-9,.col-md-1,.col-md-10,.col-md-11,.col-md-12,.col-md-2,.col-md-3,.col-md-4,.col-md-5,.col-md-6,.col-md-7,.col-md-8,.col-md-9,.col-sm-1,.col-sm-10,.col-sm-11,.col-sm-12,.col-sm-2,.col-sm-3,.col-sm-4,.col-sm-5,.col-sm-6,.col-sm-7,.col-sm-8,.col-sm-9,.col-xs-1,.col-xs-10,.col-xs-11,.col-xs-12,.col-xs-2,.col-xs-3,.col-xs-4,.col-xs-5,.col-xs-6,.col-xs-7,.col-xs-8,.col-xs-9
{
	min-height:1px;
	padding-left:10px;
	padding-right:10px;
	position:relative;
}

.col-md-5
{
	width:41.66667%;
}

.col-md-offset-1
{
	margin-left:8.33333%;
}

.col-xs-9
{
	width:75%;
}

.col-xs-1,.col-xs-10,.col-xs-11,.col-xs-12,.col-xs-2,.col-xs-3,.col-xs-4,.col-xs-5,.col-xs-6,.col-xs-7,.col-xs-8,.col-xs-9
{
	float:left;
}